---
import { SITE } from '~/utils/config';
import logo from "src/assets/images/kogei.svg"; 
import { Image } from 'astro:assets';
---

<div class="flex ">
  <Image class="w-16" src={logo} format="svg" alt='Kogei Studio' loading="lazy" />
  <div class="flex flex-col ml-8 justify-center ">
    <span class="ml-2 rtl:ml-0 rtl:mr-2 text-2xl md:text-5xl font-bold text-gray-900 whitespace-nowrap dark:text-white">
      {SITE?.name}
    </span>
    <span class="ml-2 mt-2 rtl:ml-0 rtl:mr-2 text-2xs md:text-xs text-gray-900 whitespace-nowrap dark:text-white">
      Kōgei - 工芸: Japanese for Craft
    </span>
  </div>

  
</div>
